<!DOCTYPE html>
<div id="our-menu-container">
	<h2>OUR MENU</h2>
	<div class="ramen-container">
		<img class="menu-img" src="./img/R1.png" alt="Foto von Tonkotsu Ramen" />
		<table>
			<th class="economica-bold-56">Tonkotsu Ramen</th>
			<tr>
				<td>CHICKEN</td>
				<td>11.95€</td>
			</tr>
			<tr>
				<td>BEEF</td>
				<td>12.95€</td>
			</tr>
			<tr>
				<td>SHRIMP</td>
				<td>13.95€</td>
			</tr>
		</table>
	</div>
	<div class="ramen-container">
		<table>
			<th class="economica-bold-56">Spicy Miso Ramen</th>
			<tr>
				<td>CHICKEN</td>
				<td>11.95€</td>
			</tr>
			<tr>
				<td>BEEF</td>
				<td>12.95€</td>
			</tr>
			<tr>
				<td>SHRIMP</td>
				<td>13.95€</td>
			</tr>
		</table>
		<img class="menu-img" src="./img/R2.png" alt="Foto von Spicy Miso Ramen" />
	</div>
	<div class="ramen-container">
		<img class="menu-img" src="./img/R3.png" alt="Foto von Shio Ramen" />
		<table>
			<th class="economica-bold-56">Shio Ramen</th>
			<tr>
				<td>CHICKEN</td>
				<td>11.95€</td>
			</tr>
			<tr>
				<td>BEEF</td>
				<td>12.95€</td>
			</tr>
			<tr>
				<td>SHRIMP</td>
				<td>13.95€</td>
			</tr>
		</table>
	</div>
</div>